<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}
</style>
</head>
<body>
<ul>
    <div class="row justify-content-center align-items-center" >
      <div class="col-12 col-lg-6">
        <div class="card shadow-2-strong card-registration"
             style="border-radius: 15px;
                    background-color: #ADD2C2;
                    width: 100%;
                    background: #fff;
                    border-radius: 6px;
                    padding: 41px 30px;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);">
          <div class="head"
          style="">
            <!--form action="/signup" method="post" enctype="multipart/form-data" onsubmit="return valid()">-->
              <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-outline">
                    <li>Profile</li>
                  </div>
                </div>
              </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-outline">
                    <li>Profile</li>
                  </div>
                </div>
              </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-outline">
                    <li>Profile</li>
                  </div>
                </div>
              </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                  <div class="form-outline">
                    <li>Profile</li>
                  </div>
                </div>
              </div>
            <!--</form>-->
          </div>
        </div>
      </div>
    </div>
</ul>

<p>A background color is added to the list instead of each link to create a full-width background color.</p>
<p><b>Note:</b> overflow:hidden is added to the ul element to prevent li elements from going outside of the list.</p>

</body>
</html>


