<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="\static\bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="\static\font-awesome.min.css">-->


     <!-- Import bootstrap cdn -->

    <link rel="stylesheet" href="\static\style\LoginPage.css" />

    <link rel="stylesheet" href="\static\style\style.css">

     <!-- Import bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous"/>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous"/>

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>


    <script type="text/javascript">

    function valid()
    {
        if(document.getElementById("name").value=="")
        {
            alert("Enter Your Name!");
            document.getElementById("name").focus();
            return false;
        }
        if(/[^a-z\s]/gi.test(document.getElementById("name").value))
        {
            alert("Special characters are not allowed in name");
            document.getElementById("name").focus();
            return false;
        }

        if(document.getElementById("email").value=="")
        {
            alert("Enter your E-mail ID");
            document.getElementById("email").focus();
            return false;
        }
        var emailPat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
        var emailid = document.getElementById("email").value;
        var matchArray = emailid.match(emailPat);
        if (matchArray == null)
        {
            alert("Your Email ID seems incorrect. Enter Correct Email ID.");
            document.getElementById("email").focus();
            return false;
        }
        if(document.getElementById("phone").value=="")
        {
            alert("Enter Phone Number");
            document.getElementById("phone").focus();
            return false;
        }
        if(/[^0-9]/gi.test(document.getElementById("phone").value))
        {
            alert("Special characters not allowed in Phone Number");
            document.getElementById("phone").focus();
            return false;
        }
        if(document.getElementById("dob").value=="")
        {
            alert("Please select date of birth");
            document.getElementById("dob").focus();
            return false;
        }
        if(document.getElementById("country").value=="0")
        {
            alert("Please select Country");
            document.getElementById("country").focus();
            return false;
        }
        if(document.getElementById("utype").value=="0")
        {
            alert("Please select user type");
            document.getElementById("utype").focus();
            return false;
        }

        let checkRadio = document.querySelector(
                'input[name="gender"]:checked');

        if(checkRadio == null)
        {
            alert("Please select your gender");
            return false;
        }

        if(document.getElementById("username").value=="")
        {
            alert("Please Create an username");
            document.getElementById("username").focus();
            return false;
        }
        if(document.getElementById("pass1").value=="")
        {
            alert("Enter Password!");
            document.getElementById("pass1").focus();
            return false;
        }
        if(document.getElementById("pass1").value.length<8)
        {
            alert("Password must contain atleast 8 characters");
            document.getElementById("pass1").focus();
            return false;
        }
        if(document.getElementById("pass2").value=="")
        {
            alert("Enter Confirm Password!");
            document.getElementById("pass2").focus();
            return false;
        }
        if((document.getElementById("pass2").value)!=(document.getElementById("pass1").value))
        {
            alert("Password doesn't match!");
            document.getElementById("pass2").focus();
            return false;
        }
}
    </script>

    <title>Edit Profile</title>
</head>
<body>

<section class="" style="background-color: #626cd6;overflow: hidden;">
  <div class="container mt-5">
    <div class="row justify-content-center align-items-center" >
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px; background-color: #ADD2C2;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 41px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);">
          <div class="card-body p-4 p-md-3">
            <div class="d-flex justify-content-center">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-3">Edit User Profile</h3>
            </div>

            <form action="/editSelfPforFun" method="post" enctype="multipart/form-data" onsubmit="return valid()">
                 <div class="row">
                <div class="col-md-12 mb-3 pb-2">
                      <div class="form-outline">
                          User id: <h6>{{ uid }}</h6>
                      </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3 pb-2">
                      <div class="form-outline">
                        <input type="text" id="name" name="name" class="form-control" placeholder="Name" value="{{ name }}" aria-label="Username" aria-describedby="dr">
                      </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-3 pb-2">
                  <div class="form-outline">
                    <input type="text" id="email" name="email" value="{{ email }}" class="form-control form-control-md" placeholder="Email"/>
                  </div>
                </div>
                <div class="col-md-12 mb-3 pb-2">
                  <div class="form-outline">
                    <input type="tel" id="phone" name="phone" value="{{ phone }}" class="form-control form-control-md" placeholder="Phone Number"/>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 mb-3 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                      <h6 class="mb-2 pb-1">Date Of Birth :</h6>
                  </div>
                </div>
                 <div class="col-md-9 mb-3">
                  <div class="form-outline datepicker w-100">
                    <input type="date" value="{{ dob }}" class="form-control form-control-md" id="dob" name="dob" />
                  </div>
                </div>

              <div class="row">
                 <div class="col-md-4  mb-4">
                  <h6 class="pb-1">Gender: </h6>
                 </div>
                  <div class="col-md-6">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gen" id="female" value="female" {% if gen=="female" %} checked {% endif %}/>
                    <label class="form-check-label" for="female">Female</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gen" id="male" value="male" {% if gen=="male" %} checked {% endif %} />
                    <label class="form-check-label" for="male">Male</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gen" id="other" value="other" {% if gen=="other" %} checked {% endif %} />
                    <label class="form-check-label" for="other">Other</label>
                  </div>
                      {% if gen == "lib" %}
                      <div class="form-check form-check-inline" >
                        <input
                          class="form-check-input"
                          type="radio"
                          name="gen"
                          id="lib"
                          value="lib"
                          checked
                        />
                        <label class="form-check-label" for="lib">Library</label>
                      </div>
                    {% endif %}


                </div>
              </div>

              <div class="d-flex justify-content-center">
                  <h4 class="mb-md-4">Create Username and Password</h4>
              </div>

              <div class="d-flex justify-content-center">
                  <div class="col-md-7 mb-3 ">
                      <input type="text" class="form-control" value="{{ username }}" name="username" id="username" placeholder="Create an username">
                  </div>
              </div>
              <div class="d-flex justify-content-center">
                  <div class="col-md-7 mb-3">
                      <input type="text" class="form-control" value="{{ passw }}" name="password" id="pass1" placeholder="Enter password" aria-describedby="pswdhelp">
                        <!--<small id="pswdhelp" class="form-text text-muted">
                          Your password must be minimum 8 characters long.
                        </small>-->
                  </div>
              </div>
              <div class="d-flex justify-content-center">
                  <div class="col-md-7 mb-3">
                       <input type="text" class="form-control" value="{{ passw }}" name="psswd1" id="pass2" placeholder="Confirm password">
                  </div>
              </div>

              <div class="row">
                  <div>
                     <div class="d-flex justify-content-center">
                        <button type="submit">Change</button><br>
                     </div>
                  </div>
              </div>
                <div class="row">
                  <div>
                  <button type="button" onclick="/delUser?uid = {{ lid }}">Delete Account</button><br>
                      </div>
                  </div>
                  <div class="row">
                  <div>
                         <button type="reset" >Clear</button>
                      </div>
                  </div>
                      <center>
                      <a href="/reHome" class="button small text-muted">Go back to home...</a>
                          </center>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>