<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>

        function valid()
            {
                if(document.getElementById("searchInput").value=="")
                {
                    alert("Enter Username");
                    document.getElementById("searchInput").focus();
                    return false;
                    }

            }
    </script>
</head>
<body>
<form action="/searchUser" method="post" onsubmit="return valid()">
<div class="container mt-5">
    <h3>Search Users</h3>
    <input type="text" id="searchInput" name="searchInput" class="form-control" placeholder="Search for users...">
    <button type="submit">Search</button>
    <div id="results" class="list-group mt-3"></div>
    <p>Go back to<a href="/reHome" class="button small text-muted"> home...</a></p></div>
</form>
                <div {% if uid == null %} style="pointer-events: none; opacity: 0;"{% endif %}>
                                    <a href="/editProfUser/{{ uid }}" class="list-group-item list-group-item-action">
                                        <div>
                                        <div class="d-flex align-items-center">
                                            <div class="ml-3">
                                                <h5 class="mb-0">{{ username }}</h5>
                                                <p>User id: {{ uid }}</p>
                                                <small class="text-muted">{{ usertype }}</small>
                                                <input type="text" id="uid" name="uid" value="{{ uid }}" disabled hidden>
                                            </div>
                                        </div>
                                        </div>
                                    </a>

                </div>
</body>
</html>
